.tareaForm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.tareaInput{
    width: 75%;
    height: 3rem;
    font-size: 15px;
    background-color: #fff;
    padding: 14px 32px 14px 16px;
    border-radius: 50px 0 0 50px;
    outline: none;
    border: 1px solid #ddd;
    border: none;
}

.tareaButton{
    width: 25%;
    padding: .5rem;
    height: 3rem;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    background: #00abf8;
    color: #fff;
    text-transform: capitalize;
}

.contentInstru{
    width: 100%;
    margin-top: 2rem;
    color: #ffffff;
}

.contentInstru p{
    margin-top: 1rem;
}