.tareaContenedor{
    width: 400px;
    min-height: 100px;
    background-color: #00aaf869;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 6px #000;
}

.tareaTexto{
    padding: 8px 15px 8px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}
.tareaIcon{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.completada{
    background-color: rgb(61, 175, 61);
    text-decoration: line-through;
    color: rgb(255, 255, 255);
    font-weight: 100;
}