*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  font-size: Lato, sans-serif;
}

.aplicacionToDo{
  height: 100vh;
}

.header{
  height: 3rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.contentNav{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo{
  width: 30px;
  height: auto;
  margin: 0 10px;
}

.titleApp{
  font-size: 18px;
  color: #000;
  font-family: Roboto, sans-serif;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentTareas{
  width: 100%;
  min-height: 100vh;
  display: flex;
}
